doctype html
html
  head
    title= title
    meta(name='csrf-token', content='#{csrfToken}')
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/tailwind.css')
    //- link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    //- link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    //- link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    //- link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    //- link(rel='manifest', href='/site.webmanifest')
    //- link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='theme-color', content='#ffffff')

  body(id="#{(isSignIn && !hideSideMenu) ? 'main-container' : 'session-container'}")
    if isIE
      include ./unsupport_browser
    else
      #notification(data-notice=messages)
      if isSignIn && !hideSideMenu
        .wrapper.d-flex.align-items-stretch#container-wrapper
          include ./navbar
          include ./sidebar
          #content
            .p-1.p-md-2
              block content
          #sidebar-active-overlay
      else
        block content
      script(src='/javascripts/application.bundle.js', type='text/javascript')
