nav.navbar.navbar-expand-md.navbar-light.bg-light.fixed-top.navbar-bene
  .navbar-brand.flex-grow-1= title

  .navbar-ex1-collapse
    ul.nav.navbar-nav.ml-auto.flex-row
      li.nav-item.active.pl-2.pr-2
        a.nav-link(href='#')
          i.fas.fa-bell.fa-2x
